<html>
<head>
  <title>Buildman projects</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <script type="text/javascript" src="/js/http.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
  <div id="wrapper">

    <div id="content">

      <div id="head">
        <span class='version'><?php echo BUILDMAN_VERSION; ?></span>
        <img src="/images/logo.buildman.gif"  width='270' height='47' alt='BUILDMAN' id='logo'/>
        <img src="/images/img/legend.gif"  width='420' height='29' alt='legend' id='legend'/>
      </div>

      <list:list id='categories'>
      <list:item>

        <div class="title">Category "{$name}"<img src="/images/icon/close.gif"  width='11' height='11' alt='open/close' id='{$name}_category_toggle' onclick='category_toggle("{$name}_category"); return false;'/></div>

        <div id='{$name}_category'>

          <list:list from='projects'>
          <list:item>
            <table class='list'>
            <tr>
              <th class='status'>status</th>
              <th>name</th>
              <th>show all</th>
              <th>build</th>
              <th>date</th>
              <th>info</th>
              <th>.log</th>
            </tr>

            <tr class='project_info'>
              <td>
                <core:OPTIONAL for='last_build.is_error'>
                  <img src="/images/icon/last_error.gif"  width='16' height='16' alt='failed build'/>
                </core:OPTIONAL>

                <core:OPTIONAL for='last_build.is_ok'>
                  <img src="/images/icon/last_ok.gif"  width='16' height='16' alt='successful build'/>
                </core:OPTIONAL>

                <core:OPTIONAL for='last_build.is_in_progress'>
                  <img src="/images/icon/last_progress.gif"  width='16' height='16' alt='progress build'/>
                </core:OPTIONAL>
              </td>
              <td class='project_name'><a href="{$last_build.build_web_dir}">{$name}</a></td>
              <td><core:OPTIONAL for='builds_amount'><a href="#" id='{$name}_builds_toggle' onclick='builds_toggle("{$name}_builds"); return false;'><img src="/images/icon/plus.gif"  width='10' height='10' alt='show_all'/></a></core:OPTIONAL></td>
              <td>{$last_build.build_revision}</td>
              <td>{$last_build.build_date}</td>
              <td>
                <a href="#" id='{$name}_info_toggle' onclick='info_toggle("{$name}_info"); return false;'><img src="/images/icon/plus.gif"  width='10' height='10' alt='show_all'/></a>
                <dl id='{$name}_info' class='info'>
                  <dt>Repos:</dt><dd>{$repository}</dd>
                  <dt>Build cmd:</dt><dd>{$build_cmd}</dd>
                </dl>
              </td>
              <td><a href='{$last_build.changelog_web_path}'>change</a>&nbsp;&nbsp;<a href='{$last_build.buildlog_web_path}'>build</a></td>
            </tr>
            <list:list from='builds'>
              <list:item>
                <tr class='build {$^name}_builds'>
                  <td class='elem_decoration'><img src="/images/bgr/item.gif"  width='6' height='6' alt=''/></td>
                  <td  class='revision_name' colspan='2'>
                    <core:OPTIONAL for='is_error'>
                      <img src="/images/icon/error.gif"  width='7' height='7' alt='failed build'/>
                    </core:OPTIONAL>

                    <core:OPTIONAL for='is_ok'>
                      <img src="/images/icon/ok.gif"  width='7' height='7' alt='successful build'/>
                    </core:OPTIONAL>

                    <core:OPTIONAL for='is_in_progress'>
                      <img src="/images/icon/progress.gif"  width='7' height='7' alt='progress build'/>
                    </core:OPTIONAL>
                    <a href="{$build_web_dir}">{$build_name}</a>
                  </td>
                  <td>{$build_revision}</td>
                  <td>{$build_date}</td>
                  <td></td>
                  <td><a href='{$changelog_web_path}'>change</a>&nbsp;&nbsp;<a href='{$buildlog_web_path}'>build</a>
                  </td>
                </tr>
              </list:item>
            </list:list>

            </table>

          </list:item>
          </list:list>

        </div>

      </list:item>
      </list:list>

    </div>

    <div id="footer">
      <a href="http://www.bit-creative.com/" target="_blank" title="BIT project" id='bit'><img src="/images/bit.gif"  onMouseOut="this.src='/images/bit.gif';" onMouseOver="this.src='/images/bit_hover.gif';" alt="BIT project" width="80" height="21"/></a>
      <a href="http://www.limb-project.com" id='limb'><img src="/images/logo.limb.gif"  width='114' height='41' alt='LIMB'/></a>
    </div>

  </div>

</body>
</html>
